@import "../../../../assets/scss/variables";

:host(:last-child) .todo-item {
  .todo-item__status,
  .todo-item__task {
    padding-bottom: 2rem;
  }

  &__actions {
    align-items: flex-start;
    padding-top: 7px;
  }

  &__status {
    padding-top: 13px;
  }
}

.todo-item {
  display: flex;
  border-bottom: 1px solid $color-gray;

  &__status {
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid $color-accent;
    padding: 5px 5px 5px 27px;
  }

  &__task {
    display: flex;
    align-items: center;
    border-left: 1px solid $color-accent;
    margin-left: 2px;
    padding: 10px;
    flex-wrap: wrap;
    position: relative;
    width: 100%;

    &.completed {
      span {
        color: $color-gray;
        text-decoration-line: line-through;
      }
    }

    .error {
      width: 100%;

      span {
        font-size: .5rem;
      }
    }

    span {
      font-size: .8rem;
      font-weight: bold;
      word-break: break-all;
    }
  }

  &__input-edit {
    border: none;
    font-size: .875rem;
    flex-grow: 1;
  }

  &__close-edit, &__save {
    background: transparent;
    border: none;
    &:hover {
      cursor: pointer;
      color: $color-secondary;
    }
    &:first-child {
      padding-right: 10px;
    }
  }

  &__save {
    padding-left: 10px;
  }

  &__close-edit {
    padding-right: 10px;
  }

  &__actions {
    display: flex;
    align-items: center;
    justify-self: flex-end;
    margin-left: auto;
    margin-right: 10px;
  }

  &__btn {
    border: none;
    background: transparent;
    padding: 0 5px;

    i {
      transition: color .15s ease-in-out;
    }

    &:hover {
      &:hover {
        cursor: pointer;

        i {
          color: $color-primary;
        }
      }
    }
  }
}
