@import "../../../../assets/scss/variables";

.todo-item {
  display: flex;
  border-bottom: 1px solid $color-gray;

  &__status {
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid $color-accent;
    padding: 5px 5px 5px 27px;
  }

  &__task {
    display: flex;
    align-items: center;
    border-left: 1px solid $color-accent;
    margin-left: 2px;
    padding: 10px;

    span {
      font-size: .8rem;
      font-weight: bold;
    }
  }

  &__actions {
    display: flex;
    align-items: center;
    justify-self: flex-end;
    margin-left: auto;
    margin-right: 10px;
  }

  &__btn {
    padding:0 5px;

    i {
      transition: color .15s ease-in-out;
    }

    &:hover {
      &:hover {
        cursor: pointer;

        i {
          color: $color-primary;
        }
      }
    }
  }
}
