<div class="todo-item">

  <div class="todo-item__status">
    <label class="custom-checkbox">
      <input type="checkbox">
      <span class="checkmark"></span>
    </label>
  </div>

  <div class="todo-item__task">
      <span class="todo-item__title">{{todo.task}}</span>
  </div>

  <div class="todo-item__actions">
    <div class="todo-item__btn todo-item__btn--edit">
      <i class="far fa-edit"></i>
    </div>
    <div class="todo-item__btn todo-item__btn--remove">
      <i class="fas fa-trash-alt"></i>
    </div>
  </div>

</div>
