// Default gradient.
@mixin default-gradient {
  background: #d09e4e;
  background: -moz-linear-gradient(top, #d09e4e 0%, #854111 51%, #a9621e 94%, #4d2508 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #d09e4e 0%,#854111 51%,#a9621e 94%,#4d2508 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #d09e4e 0%,#854111 51%,#a9621e 94%,#4d2508 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d09e4e', endColorstr='#4d2508',GradientType=0 ); /* IE6-9 */
}

// Define breakpoints.
$breakpoints: (
  'small':  576px,
  'medium': 767px,
  'large':  1200px
) !default;

// Mixin to manage responsive breakpoints
// @param {String} $breakpoint - Breakpoint name
// @require $breakpoints
@mixin respond-to($breakpoint) {
  // If the key exists in the map
  @if map-has-key($breakpoints, $breakpoint) {
    // Prints a media query based on the value
    @media (max-width: map-get($breakpoints, $breakpoint)) {
      @content;
    }
  }

    // If the key doesn't exist in the map
  @else {
    @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
        + "Available breakpoints are: #{map-keys($breakpoints)}.";
  }
}
