// Colors variables.
$color-light:#e8e8e8;
$color-dark: #625c58;
$color-dark-light: #837e7b;
$color-primary: #eac383;
$color-secondary: #59260b;
$color-accent: #dec6c6;
$color-gray: #cfd1d5;

// Others.
$text-shadow-primary: 1px 1px 1px $color-dark;
