<div class="todo-add-popup">
    <div class="todo-add-popup__close" (click)="onClickClosePopupButton()">
      <i class="fas fa-times"></i>
    </div>
    <form class="todo-add-popup__form">
      <label for="task-name">Please enter the task name</label>
      <div class="todo-add-popup__input">
        <input name="todoTitle" id="task-name" type="text" [(ngModel)]="title">
        <div class="todo-add-popup__add-btn" (click)="onClickAddButton()">
          <i class="fas fa-plus"></i>
          <span>Add</span>
        </div>
      </div>
    </form>
</div>
