/* You can add global styles to this file, and also import other style files */
@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import "assets/scss/variables";

html {
  font-size: 100%;
  font-family: Verdana, serif;
  height: 100%;
  position: relative;
  color:$color-dark;
}

body {
  height: 100%;
  position: relative;
}

.error-notification {
  color: orangered;
  font-size: .625rem;
}

/* Customize the label (the custom-checkbox) */
.custom-checkbox {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.custom-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: -4px;
  left: 0;
  height: 20px;
  width: 20px;
  border:1px solid #c7c9ce;
  border-radius: 3px;
}

/* On mouse-over, add a grey background color */
.custom-checkbox:hover input ~ .checkmark {
  //background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.custom-checkbox input:checked ~ .checkmark {
  background-color: transparent;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.custom-checkbox input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.custom-checkbox .checkmark:after {
  left: 9px;
  top: -9px;
  width: 7px;
  height: 21px;
  border: solid #6e6963;
  border-width: 0 4px 4px 0;
  transform: rotate(40deg);
}
