/* You can add global styles to this file, and also import other style files */
@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import "assets/scss/variables";

html {
  font-size: 100%;
  font-family: Verdana, serif;
  height: 100%;
  position: relative;
  color:$color-dark;
}

body {
  height: 100%;
  position: relative;
}

.error-notification {
  color: orangered;
  font-size: .625rem;
}

